# Amadeus Self-Service API (https://developers.amadeus.com)
AMADEUS_CLIENT_ID=your_amadeus_client_id_here
AMADEUS_CLIENT_SECRET=your_amadeus_client_secret_here
AMADEUS_HOSTNAME=production

# Kiwi Tequila API (https://tequila.kiwi.com)
TEQUILA_API_KEY=your_tequila_api_key_here

# LINE Messaging API (https://developers.line.biz)
LINE_CHANNEL_ACCESS_TOKEN=your_line_channel_access_token_here
LINE_USER_ID=your_line_user_id_here
